<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wheels!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/styles.css') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favi.gif') }}" />
    </head>
    <body>
        <div id="background-image"></div>
        <div class="content">
            {{ include('header.html.twig') }}
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div id="main-container" class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
