<div class="images-container navbar-default">
    <a href="{{ path('blog_homepage') }}">
        <img src="{{ asset('images/run.gif') }}">
        <img id="logo-image" src="{{ asset('images/logo.png') }}">
    </a>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('blog_homepage') }}">
                {{ 'Home'|trans }}
            </a>
            <a class="navbar-brand" href="{{ path('article_create') }}">{{ 'New article'|trans }}</a>
            <a class="navbar-brand" href="{{ path('contact_create') }}">{{ 'Contact'|trans }}</a>
        </div>
        <div class="navbar-right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav navbar-brand navbar-right" href="{{ path('logout') }}">{{ 'Logout, %user'|trans({'%user': app.user.username }) }} </a>
            {% else %}
                <a class="nav navbar-brand navbar-right" href="{{ path('login') }}">Login</a>
                <a class="nav navbar-brand navbar-right" href="{{ path('register') }}">Register</a>
            {% endif %}
            <a class="nav navbar-brand navbar-right" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale' : 'ro'})) }}">RO</a>
            <a class="nav navbar-brand navbar-right" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale' : 'en'})) }}">EN</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{ render(controller('BlogBundle:Category:_categoryMenu')) }}
            </ul>
        </div>

    </div>
</nav>
