<div class="images-container">
    <a href="{{ path('blog_homepage') }}">
        <img src="{{ asset('images/run.gif') }}">
        <img src="{{ asset('images/logo.png') }}">
    </a>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('blog_homepage') }}">
                Home
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{ render(controller('BlogBundle:Category:_categoryMenu')) }}
            </ul>
        </div>
    </div>
</nav>
